<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>This template gives you a starting point for a game based on the Cocos2D engine for the iPhone. This 
	template contains Cocos2D v0.6.3.</string>
</dict>
</plist>
